<h1><% user.name %>  </h1>

<h2>Surveys I have created</h2>
<ul>
  <% surveys.each do |survey| %>
    <li>
      <p> <%= survey.title %> Created on: <%= survey.created_at.asctime %> </p>
      <div class="profile-buttons">
        <form class="display-results" method="post" action="/surveys/<%= survey.id %>/results">
          <input  type="submit" value="See results">
        </form>
        <form class="modify-survey" method="get" action="/surveys/<%= survey.id %>">
          <input  type="submit" value="Modify Survey">
        </form>
      </div>
    </li>
  <% end %>
</ul>


<h2> Surveys I have taken </h2>
<ul>
  <% all_surveys.each do |survey| %>
    <% if user_has_taken?(survey) %>
      <li><%= survey.title %> </li>
    <% end %>
  <% end %>

</ul>
